@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap");
.HeaderMirror {
  position: relative;
  width: 100%;
  background-color: #FFECEF;
  padding: 3rem 3rem;
  font-family: "Raleway", sans-serif;
}

.HeaderMirror h1 {
  font-family: "Fredoka One";
  margin: 0 0 0 0;
  color: #9C0746;
}

.HeaderMirror h4 {
  margin: 2rem 0 2rem 0;
}

.HeaderMirror .right-col {
  text-align: justify;
  text-justify: inter-word;
}

.HeaderMirror .row {
  margin-left: 0;
}

.HeaderMirror .header-row {
  padding: 0 2rem;
}

.HeaderMirror img {
  max-height: 500px;
  width: 100%;
  height: auto;
  margin: 2rem;
}

.HeaderMirror video {
  width: 100%;
  height: auto;
  margin: 2rem;
}

@media (min-width: 576px) and (max-width: 992px) {
  .HeaderMirror {
    padding: 16px;
  }
  .HeaderMirror h4 {
    margin: 1rem 0 1rem 0;
  }
  .HeaderMirror .right-col {
    padding: 10px;
    width: 80%;
    margin: auto;
  }
  .HeaderMirror .row {
    margin: 0rem 0rem;
  }
  .HeaderMirror .header-row {
    text-align: justify;
    align-items: center;
    padding: 10px;
  }
  .HeaderMirror img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .HeaderMirror video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media (max-width: 575.98px) {
  .HeaderMirror {
    padding: 16px;
  }
  .HeaderMirror h4 {
    margin: 1rem 0 1rem 0;
  }
  .HeaderMirror .right-col {
    width: 100%;
    margin: auto;
  }
  .HeaderMirror .row {
    text-align: justify;
    margin: 2rem 0rem;
  }
  .HeaderMirror .header-row {
    text-align: justify;
    align-items: center;
    padding: 10px;
  }
  .HeaderMirror img {
    padding: 10px 0;
    margin: 0px;
    width: 100%;
  }
  .HeaderMirror video {
    padding: 10px 0;
    margin: 0px;
    width: 100%;
  }
}
