@import "../../../app/assets/_master";

.HeaderMirror {
    position: relative;
    width: 100%;
    background-color: $background-pink;
    padding: 3rem 3rem;
    h1 {
        font-family: $font-decorative;
        margin: 0 0 0 0;
        color: $purple;
    }
    h4 {
        margin: 2rem 0 2rem 0;
    }
    ;
    .right-col {
        text-align: justify;
        text-justify: inter-word;
    }
    ;
    .row {
        margin-left: 0;
    }
    .header-row {
        padding: 0 2rem;
    }
    img {
        max-height: 500px;
    }
    video {
        width: 80%;
        height: auto;
        margin: 2rem;
    }
}

@media (max-width: 992px) {
    height: 100%;
    width: 100%;
    z-index: 2;
    .header-content {
        margin-bottom: 0;
        text-align: left;
        h1 {
            font-size: 50px;
        }
    }
}