@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap");
.ThirdSection {
  width: 100%;
  background-color: #ffffff;
  margin: 30px 0 30px 0;
  background: #FFECEF;
  font-family: "Raleway", sans-serif;
}

.ThirdSection h2 {
  font-family: "Fredoka One";
  color: #9C0746;
  margin: 2rem;
  font-size: 3rem;
}

.ThirdSection h3 {
  margin: 1rem;
}

.ThirdSection h4 {
  text-align: left;
}

.ThirdSection .nav-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  width: auto;
}

.ThirdSection .nav-menu a {
  color: black;
  font-family: "Fredoka One";
  font-size: 1.5rem;
}

.ThirdSection .nav-menu a:hover {
  color: #9C0746;
  text-decoration: none;
}

.ThirdSection .nav-menu a:active {
  color: #F47099;
}

.ThirdSection .nav-menu a:focus {
  outline: none;
}

.ThirdSection .nav-menu a:visited {
  color: #F47099;
}

.ThirdSection .page-container {
  width: 100vw;
}
