@import "../../../app/assets/_master";
.ThirdSection {
    width: 100%;
    background-color: #ffffff;
    margin: 30px 0 30px 0;
    background: $background-pink;
    h2 {
        font-family: $font-decorative;
        color: $purple;
        margin: 2rem;
        font-size: 3rem;
    }
    ;
    h3 {
        margin: 1rem;
    }
    ;
    h4 {
        text-align: left;
    }
    .nav-menu {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        a {
            margin: 0 10px 0 10px;
            font-family: $font-stack;
            color: $basic-dark;
        &:active,
        &:hover,
        &:focus,
            {
            color: $button-top;
            text-decoration: none;
            border-bottom-style: none;
        }
     }
    }
    .page-container {
        width: 100vh;
    }
}