@import "../../../app/assets/_master";
.ThirdSection {
    width: 100%;
    background-color: #ffffff;
    margin: 30px 0 30px 0;
    background: $background-pink;
    font-family: $font-stack;
    h2 {
        font-family: $font-decorative;
        color: $purple;
        margin: 2rem;
        font-size: 3rem;
    }
    ;
    h3 {
        margin: 1rem;
    }
    ;
    h4 {
        text-align: left;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        width: auto;
        a {
            color: black;
            font-family: $font-decorative;
            font-size: 1.5rem;
            &:hover {
                color: $purple;
                text-decoration: none;
            }
            ;
            &:active {
                color: $button-frame-top;
            }
            ;
            &:focus {
                outline: none;
            }
            ;
            &:visited {
                color: $button-frame-top;
            }
            ;
        }
    }
    .page-container {
        width: 100vw;
    }
}