@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap");
.slider {
  background-color: #FFECEF;
  padding: 5rem 0 5rem 0;
}

.slider h2 {
  font-family: "Fredoka One";
  color: #9C0746;
  margin: 2rem;
  font-size: 3rem;
}

.slider h4 {
  font-family: "Fredoka One";
  color: #9C0746;
  margin: 2rem;
  font-size: 2rem;
}

.slider .img-details {
  opacity: 0.5;
}

.slider .img-details:hover {
  opacity: 1;
}

.slider .description {
  width: 200px;
  padding-top: 60px;
}

.slider .img-1 {
  background-image: url("../../images/charity.png");
}

.slider .img-2 {
  background-image: url("../../images/success.png");
}

.slider .img-3 {
  background-image: url("../../images/growth.png");
}

.slider .img-4 {
  background-image: url("../../images/gym.png");
}

.slider .img-5 {
  background-image: url("../../images/knowledge.png");
}

.slider .img-6 {
  background-image: url("../../images/umbrella.png");
}

.slider .img-7 {
  background-image: url("../../images/party.png");
}

.slider .img-8 {
  background-image: url("../../images/birthday.png");
}

.slider .circle-container {
  position: relative;
  width: 45em;
  height: 45em;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: 5em auto 0;
  background-image: url("../../images/cake.png");
  background-position: center center;
  background-size: 400px 350px;
}

.slider .circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2em;
  width: 4em;
  height: 4em;
}

.slider .circle-container > *:nth-of-type(1) {
  transform: rotate(22.5deg) translate(22.5em) rotate(-22.5deg);
}

.slider .circle-container > *:nth-of-type(2) {
  transform: rotate(67.5deg) translate(22.5em) rotate(-67.5deg);
}

.slider .circle-container > *:nth-of-type(3) {
  transform: rotate(112.5deg) translate(22.5em) rotate(-112.5deg);
}

.slider .circle-container > *:nth-of-type(4) {
  transform: rotate(157.5deg) translate(22.5em) rotate(-157.5deg);
}

.slider .circle-container > *:nth-of-type(5) {
  transform: rotate(202.5deg) translate(22.5em) rotate(-202.5deg);
}

.slider .circle-container > *:nth-of-type(6) {
  transform: rotate(247.5deg) translate(22.5em) rotate(-247.5deg);
}

.slider .circle-container > *:nth-of-type(7) {
  transform: rotate(292.5deg) translate(22.5em) rotate(-292.5deg);
}

.slider .circle-container > *:nth-of-type(8) {
  transform: rotate(337.5deg) translate(22.5em) rotate(-337.5deg);
}
