@import "../../../app/assets/_master";
.DescriptionSection {
    width: 100%;
    background-color: #ffffff;
    margin: 30px 0 30px 0;
    h2 {
        font-family: $font-decorative;
        color: $purple;
        margin: 4rem 0 2rem 0;
        font-size: 3rem;
    }
    ;
    .baseline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
    }
    .bright-text {
        color: grey;
        margin: 0.5rem;
    }
    .icon-cake {
        background-image: url('../../images/caipirinha.png');
        height: 64px;
        width: 64px;
    }
    ;
    h3 {
        margin: 1rem;
    }
    ;
    h4 {
        text-align: left;
        height: 30px;
    }
    img {
        max-height: 250px;
        width: auto;
    }
    .steps {
        padding: 2rem 1rem 2rem 1rem;
    }
    .bullets {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0 1rem 0;
        #dots {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: $button-top;
            margin-left: 40px;
            -webkit-box-shadow: 40px 0px 0px 0px $button-top, 80px 0px 0px 0px $button-top;
            -moz-box-shadow: 40px 0px 0px 0px $button-top, 80px 0px 0px 0px $button-top;
            box-shadow: 40px 0px 0px 0px $button-top, 80px 0px 0px 0px $button-top;
        }
    }
    ;
    .decorative-number {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $button-top;
        color: white;
        display: inline-block;
        padding: 10px;
    }
    ;
    .left-align-description {
        text-align: left;
        height: 100px;
        margin: 30px 0;
    }
}