@import "../../../app/assets/_master";
#mainNav {
    background-color: $background-pink !important;
    .navbar-brand {
        color: $purple;
        font-family: $font-decorative;
        
        &:hover,
        &:focus {
            color: $button-top;
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
    }
    a {
        font-size: 16px;
        color: $basic-dark;
        margin-left: 1rem;
        &:active {
            color: $button-top;
            text-decoration: none;
        }
        &:hover {
            color: $button-top;
            text-decoration: none;
        }
    }
}

@media (min-width: 992px) {
    #mainNav {
        background-color: $pink-round-decoration !important;
        border-color: transparent;
        opacity: 100%;
        .navbar-brand {
            color: $purple;
            margin-left: 1rem;
            &:hover,
            &:focus {
                color: $button-top;
            }
        }
        .nav-item:focus {
            &:hover,
            &:active,
            &:focus {
                color: $button-top;
            }
            ;
            &:visited {
                color: $icons-berries;
            }
        }
    }
}
body {
  scroll-behavior: smooth;
}
