@import "../../../app/assets/_master";
#mainNav {
    background-color: $background-pink;
    .navbar-brand {
        color: $purple;
        font-family: $font-decorative;
        
        &:hover,
        &:focus {
            color: $button-top;
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
    }
    .navbar-toggler{
        border: 2px solid $purple;
        border-radius: 5px;
        padding: 6px 6px 4px 6px;
    }
  
    a {
        font-size: 16px;
        color: $basic-dark;
        margin-left: 1rem;
        &:active {
            color: $button-top;
            text-decoration: none;
        }
        &:hover {
            color: $button-top;
            text-decoration: none;
        }
    }
}
@media (min-width: 992px) {
    #mainNav {
        background-color: rgba(232, 18, 100, 0.9);
        border-color: transparent;
        .navbar-brand {
            color: $purple;
            margin-left: 1rem;
            &:hover,
            &:focus {
                color: $basic-dark;
            };
        }
    a {
        font-size: 16px;
        color: $basic-dark;
        margin-left: 2rem;
        text-decoration: none;
        opacity: 100%;
        &:active {
            color: $background-pink;
           
        }
        &:hover {
            color: $background-pink;
           
        }
    }
    }
}

body {
  scroll-behavior: smooth;
}


