.navbar-link {
  color: black;
}

.navbar-link:hover {
  color: #9C0746;
  text-decoration: none;
}

.navbar-link:active {
  color: #F47099;
}

.navbar-link:focus {
  outline: none;
}

.navbar-link:visited {
  color: #F47099;
}
