@import "../../../app/assets/_master";
.navbar-link {
    color: black;
    font-family: $font-decorative;
    &:hover {
        color: $purple;
        text-decoration: none;
    }
    ;
    &:active {
        color: $button-frame-top;
    }
    ;
    &:focus {
        outline: none;
    }
    ;
    &:visited {
        color: $button-frame-top;
    }
    ;
}