@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap");
.NewsLetter {
  width: 100%;
  background-color: #FFECEF;
  padding: 3rem 0 3rem 0;
}

.NewsLetter h2 {
  font-family: "Fredoka One";
  color: #9C0746;
  margin: 2rem;
  font-size: 3rem;
}

.NewsLetter .row {
  margin: 30px;
}

.NewsLetter .name::placeholder {
  background-image: url("../../images/user.png");
  margin: 30px;
  padding-left: 30px;
  background-repeat: no-repeat;
}

.NewsLetter .e-mail::placeholder {
  background-image: url("../../images/envelope.png");
  padding-left: 30px;
  background-repeat: no-repeat;
}

.NewsLetter label {
  display: block;
  color: #130f11;
  margin-left: 10px;
}

.NewsLetter input {
  border: 4px solid #FDF1F3;
  border-radius: 30px;
  height: 3rem;
  width: 80%;
  font-size: 1.2em;
  color: #B64674;
  font-size: 1rem;
  padding-left: 2rem;
}

.NewsLetter input:focus {
  -webkit-box-shadow: 0px 0px 30px 6px rgba(182, 70, 116, 0.34);
  box-shadow: 0px 0px 30px 6px rgba(182, 70, 116, 0.34);
  outline: none;
  padding-left: 2rem;
  color: #B64674;
  font-size: 1rem;
}

.NewsLetter ::placeholder {
  color: #B64674;
  font-size: 1rem;
}
