//COLORS
$purple: #9C0746;
$background-pink: #FFECEF;
$button-frame-top: #F47099;
$button-frame-bottom: #A90A1E;
$button-top: #E71265;
$button-bottom: #CE043D;
$button-hover-top: #F84E90;
$button-hover-bottom: #CB0339;
$button-active: #CA0437;
$basic-dark: #130f11;
$icons-berries: #B64674;
$pink-round-decoration: #E81264;
$outline-button-frame: #FDF1F3;
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap');
$font-stack: 'Raleway',
sans-serif;
$font-decorative: 'Fredoka One'